<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Diag-KNOWS</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📃</text></svg>"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container flex direction-column">
      <!-- Header Component -->
      <div id="header">{% include "components/header.html" %}</div>

      <main>
        <section class="layout-auth">
          <div class="card"><form method="POST" action="/login">
            <div class="card-header flex align-center justify-between flex-wrap">
              <h2>Login</h2>
            </div>

            <div>
              <label>Username</label>
              <input type="username" name="username" placeholder="Username" />
            </div>

            <div>
              <label>Password</label>
              <input type="password" name="password" placeholder="••••••••" />
            </div>

            <button type="submit">Login</button>
            <p id="error-text">
              {% if error == "Username not recognized." %}
                {{ error }}
                <a href="{{ url_for('register') }}">Click here to register</a>
              {% else %}
                {{ error }}
              {% endif %}
            </p>

            <div class="divider"></div>
          </form></div>
        </section>
      </main>

      <!-- Footer Component -->
      <div id="footer">{% include "components/footer.html" %}</div>
  </body>
</html>
