<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Diagknows</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📃</text></svg>"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='scripts/loadComponents.js') }}" defer></script>
  </head>
  <body>
    <div class="container flex direction-column">
      <!-- Header Component -->
      <div id="header"><!--{% include "components/header.html" %}--></div>

      <main>
        <section>
          <div class="card"><form method="POST" action="/login">
            <div class="card-header flex align-center justify-between flex-wrap">
              <h2>Login</h2>
              <p class="pill">Template!</p>
            </div>
            <p class="muted">
              This page is UI-only. Inputs do not submit anywhere yet.
            </p>

            <div>
              <label>Username</label>
              <input type="username" name="username" placeholder="Username" />
            </div>

            <div>
              <label>Password</label>
              <input type="password" name="password" placeholder="••••••••" />
            </div>

            <button type="submit">Login</button>
            <p id="error-text"></p>

            <div class="divider"></div>

            <p class="muted">
              Later, you'll connect this to your authentication backend
              (API/Firebase/etc.).
            </p>
          </form></div>
        </section>
      </main>

      <!-- Footer Component -->
      <div id="footer"></div>
    </div>

    <script>
      const errorMessage = "{{ error }}";

      if (errorMessage) {
        document.getElementById("error-text").innerText = errorMessage;
      }

    </script>
  </body>
</html>
