<!-- Reuse dynamic header -->
<header>
  <div
    class="header-content card flex align-center justify-center direction-column"
  >
    <div class="header-group flex width-full">
      <div class="logo-group flex align-center flex-wrap width-full">
        <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="Diag-KNOWS Logo" class="logo-image" width="40px" />
        <div>
          <h1 class="title">
            Diag-KNOWS: A Non-Diagnostic Heart Risk Prediction
          </h1>
          <p>Know Your Heart Before It's Too Late!</p>
          <p class="muted">REMINDER: This system is for awareness only and does not provide medical advice.</p>
        </div>
      </div>
      <fieldset id="mode-switcher" class="radio-switch">
        <legend>Theme</legend>
        <div>
          <input type="radio" id="light" value="light" name="color-scheme" />
          <label for="light">Light</label>
          <input
            type="radio"
            id="dark"
            value="dark"
            name="color-scheme"
            checked
          />
          <label for="dark">Dark</label>
        </div>
      </fieldset>
    </div>
    <nav class="nav flex flex-wrap width-full">
      {% if session.get('user_id') %}
        <a class="nav-link" id="index" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link" id="subscribe" href="{{ url_for('subscribe') }}">Subscribe</a>
        <a class="nav-link" id="logout" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a class="nav-link" id="login" href="{{ url_for('login') }}">Login</a>
        <a class="nav-link" id="register" href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </nav>
    
  </div>

  <script>
    const activeLink = document.getElementById("{{ request.endpoint }}");
    if (activeLink) activeLink.classList.add("primary");
  </script>
</header>
